    <!-- DEPOIMENTOS E PROFESSORES -->

<!--SEÇÃO DOS PROFESSORES - PRÉVIA DE AULAS -->
<div class="slider-container">
    <button class="seta-slider seta-esquerda" id="prev-btn"></button>
    
    <div class="slider-wrapper-manual">
        <div class="slider-trilho-manual" id="trilho-slider">
        
            <!-- COLUNA 1 -->
            <div class="coluna-videos">
                <div class="card-short">
                    <video controls>
                        <source src="https://jlbgigwrwbhayhufgkdq.supabase.co/storage/v1/object/public/videos/depoimentos/01-aluno-formado-curso-sequencial-presencial-instituto-oliver-escola-preparatoria-online-carreiras-policiais-site-oficial.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="card-short">
                    <video controls>
                        <source src="https://jlbgigwrwbhayhufgkdq.supabase.co/storage/v1/object/public/videos/depoimentos/02-aluno-formado-curso-sequencial-presencial-instituto-oliver-escola-preparatoria-online-carreiras-policiais-site-oficial.mp4" type="video/mp4">
                    </video>
                </div>
            </div>

            <!-- COLUNA 2 -->
            <div class="coluna-videos">
                <div class="card-short">
                    <video controls>
                        <source src="https://jlbgigwrwbhayhufgkdq.supabase.co/storage/v1/object/public/videos/depoimentos/03-aluno-formado-curso-sequencial-presencial-instituto-oliver-escola-preparatoria-online-carreiras-policiais-site-oficial.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="card-short">
                    <video controls>
                        <source src="https://jlbgigwrwbhayhufgkdq.supabase.co/storage/v1/object/public/videos/depoimentos/04-aluno-formado-curso-sequencial-presencial-instituto-oliver-escola-preparatoria-online-carreiras-policiais-site-oficial.mp4" type="video/mp4">
                    </video>
                </div>
            </div>

            <!-- COLUNA 3 -->
            <div class="coluna-videos">
                <div class="card-short">
                    <video controls>
                        <source src="https://jlbgigwrwbhayhufgkdq.supabase.co/storage/v1/object/public/videos/depoimentos/05-aluno-formado-curso-sequencial-presencial-instituto-oliver-escola-preparatoria-online-carreiras-policiais-site-oficial.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="card-short">
                    <video controls>
                        <source src="https://jlbgigwrwbhayhufgkdq.supabase.co/storage/v1/object/public/videos/depoimentos/06-aluno-formado-curso-sequencial-presencial-instituto-oliver-escola-preparatoria-online-carreiras-policiais-site-oficial.mp4" type="video/mp4">
                    </video>
                </div>
            </div>

            <!-- COLUNA 4 -->
            <div class="coluna-videos">
                <div class="card-short">
                    <video controls>
                        <source src="https://jlbgigwrwbhayhufgkdq.supabase.co/storage/v1/object/public/videos/depoimentos/07-aluno-formado-curso-sequencial-presencial-instituto-oliver-escola-preparatoria-online-carreiras-policiais-site-oficial.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="card-short">
                    <video controls>
                        <source src="https://jlbgigwrwbhayhufgkdq.supabase.co/storage/v1/object/public/videos/depoimentos/08-aluno-formado-curso-sequencial-presencial-instituto-oliver-escola-preparatoria-online-carreiras-policiais-site-oficial.mp4" type="video/mp4">
                    </video>
                </div>
            </div>

            <!-- COLUNA 5 -->
            <div class="coluna-videos">
                <div class="card-short">
                    <video controls>
                        <source src="https://jlbgigwrwbhayhufgkdq.supabase.co/storage/v1/object/public/videos/depoimentos/09-aluno-formado-curso-sequencial-presencial-instituto-oliver-escola-preparatoria-online-carreiras-policiais-site-oficial.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="card-short">
                    <video controls>
                        <source src="https://jlbgigwrwbhayhufgkdq.supabase.co/storage/v1/object/public/videos/depoimentos/10-aluno-formado-curso-sequencial-presencial-instituto-oliver-escola-preparatoria-online-carreiras-policiais-site-oficial.mp4" type="video/mp4">
                    </video>
                </div>
            </div>

            <!-- COLUNA 6 -->
            <div class="coluna-videos">
                <div class="card-short">
                    <video controls>
                        <source src="https://jlbgigwrwbhayhufgkdq.supabase.co/storage/v1/object/public/videos/depoimentos/11-aluno-formado-curso-sequencial-presencial-instituto-oliver-escola-preparatoria-online-carreiras-policiais-site-oficial.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="card-short">
                    <video controls>
                        <source src="https://jlbgigwrwbhayhufgkdq.supabase.co/storage/v1/object/public/videos/depoimentos/12-aluno-formado-curso-sequencial-presencial-instituto-oliver-escola-preparatoria-online-carreiras-policiais-site-oficial.mp4" type="video/mp4">
                    </video>
                </div>
            </div>

            <!-- COLUNA 7 -->
            <div class="coluna-videos">
                <div class="card-short">
                    <video controls>
                        <source src="https://jlbgigwrwbhayhufgkdq.supabase.co/storage/v1/object/public/videos/depoimentos/13-aluno-formado-curso-sequencial-presencial-instituto-oliver-escola-preparatoria-online-carreiras-policiais-site-oficial.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="card-short">
                    <video controls>
                        <source src="https://jlbgigwrwbhayhufgkdq.supabase.co/storage/v1/object/public/videos/depoimentos/15-aluno-formado-curso-sequencial-presencial-instituto-oliver-escola-preparatoria-online-carreiras-policiais-site-oficial.mp4" type="video/mp4">
                    </video>
                </div>
            </div>

            <!-- COLUNA 8 
            <div class="coluna-videos">
                <div class="card-short">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
                <div class="card-short">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
            </div>

            <!-- COLUNA 9 
            <div class="coluna-videos">
                <div class="card-short">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
                <div class="card-short">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
            </div>

            <!-- COLUNA 10 
            <div class="coluna-videos">
                <div class="card-short">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
                <div class="card-short">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
            </div>


            <!-- COLUNA 11-
            <div class="coluna-videos">
                <div class="card-short">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
                <div class="card-short">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
            </div>


            <!-- COLUNA 12 
            <div class="coluna-videos">
                <div class="card-short">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
                <div class="card-short">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
            </div>

            <!-- COLUNA 13 
            <div class="coluna-videos">
                <div class="card-short">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
                <div class="card-short">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
            </div>

            <!-- COLUNA 14 
            <div class="coluna-videos">
                <div class="card-short">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
                <div class="card-short">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
            </div>-->


        </div>
    </div>

    <button class="seta-slider seta-direita" id="next-btn"></button>
</div>


    <!--SEÇÃO DEPOIMENTOS DE ALUNOS EM FOTOS   -->

<div class="masonry-grid">
    <div class="masonry-item">
        <img
            src="https://cdn.afze-host3.com/user-gallery/0e7652e7-d3e2-11f0-983a-f23c94100626/1778580012-afzst-r2cf-depoimento-1.webp" />
    </div>
    <div class="masonry-item">
        <img
            src="https://cdn.afze-host3.com/user-gallery/0e7652e7-d3e2-11f0-983a-f23c94100626/1778583694-afzst-r2cf-depoimento-15.webp" />
    </div>
    <div class="masonry-item">
        <img
            src="https://cdn.afze-host3.com/user-gallery/0e7652e7-d3e2-11f0-983a-f23c94100626/1778583405-afzst-r2cf-depoimento-14.webp" />
    </div>
    <div class="masonry-item">
        <img
            src="https://cdn.afze-host3.com/user-gallery/0e7652e7-d3e2-11f0-983a-f23c94100626/1778583261-afzst-r2cf-depoimento-13.webp" />
    </div>
    <div class="masonry-item">
        <img
            src="https://cdn.afze-host3.com/user-gallery/0e7652e7-d3e2-11f0-983a-f23c94100626/1778583106-afzst-r2cf-depoimento-11.webp" />
    </div>
    <div class="masonry-item">
        <img
            src="https://cdn.afze-host3.com/user-gallery/0e7652e7-d3e2-11f0-983a-f23c94100626/1778582081-afzst-r2cf-depoimento-6.webp" />
    </div>
    <div class="masonry-item">
        <img
            src="https://cdn.afze-host3.com/user-gallery/0e7652e7-d3e2-11f0-983a-f23c94100626/1778582358-afzst-r2cf-depoimento-7.webp" />
    </div>
    <div class="masonry-item">
        <img
            src="https://cdn.afze-host3.com/user-gallery/0e7652e7-d3e2-11f0-983a-f23c94100626/1778582518-afzst-r2cf-depoimento-8.webp" />
    </div>
    <div class="masonry-item">
        <img
            src="https://cdn.afze-host3.com/user-gallery/0e7652e7-d3e2-11f0-983a-f23c94100626/1778582769-afzst-r2cf-depoimento-9.webp" />
    </div>
    <div class="masonry-item">
        <img
            src="https://cdn.afze-host3.com/user-gallery/0e7652e7-d3e2-11f0-983a-f23c94100626/1778582963-afzst-r2cf-depoimento-10.webp" />
    </div>
    <div class="masonry-item">
        <img
            src="https://cdn.afze-host3.com/user-gallery/0e7652e7-d3e2-11f0-983a-f23c94100626/1778584055-afzst-r2cf-depoimento-16.webp" />
    </div>
    <div class="masonry-item">
        <img
            src="https://cdn.afze-host3.com/user-gallery/0e7652e7-d3e2-11f0-983a-f23c94100626/1778584185-afzst-r2cf-depoimento-18.webp" />
    </div>
    <div class="masonry-item">
        <img
            src="https://cdn.afze-host3.com/user-gallery/0e7652e7-d3e2-11f0-983a-f23c94100626/1778584391-afzst-r2cf-depoimento-19.webp" />
    </div>
    <div class="masonry-item">
        <img
            src="https://cdn.afze-host3.com/user-gallery/0e7652e7-d3e2-11f0-983a-f23c94100626/1778584757-afzst-r2cf-depoimento-20.webp" />
    </div>
    <div class="masonry-item">
        <img
            src="https://cdn.afze-host3.com/user-gallery/0e7652e7-d3e2-11f0-983a-f23c94100626/1778584878-afzst-r2cf-depoimento-21.webp" />
    </div>
    <div class="masonry-item">
        <img
            src="https://cdn.afze-host3.com/user-gallery/0e7652e7-d3e2-11f0-983a-f23c94100626/1778585095-afzst-r2cf-depoimento-22.webp" />
    </div>
    <div class="masonry-item">
        <img
            src="https://cdn.afze-host3.com/user-gallery/0e7652e7-d3e2-11f0-983a-f23c94100626/1778585187-afzst-r2cf-depoimento-23.webp" />
    </div>
    <div class="masonry-item">
        <img
            src="https://cdn.afze-host3.com/user-gallery/0e7652e7-d3e2-11f0-983a-f23c94100626/1778585312-afzst-r2cf-depoimento-3.webp" />
    </div>
    <div class="masonry-item">
        <img
            src="https://cdn.afze-host3.com/user-gallery/0e7652e7-d3e2-11f0-983a-f23c94100626/1778585443-afzst-r2cf-depoimento-17.webp" />
    </div>
    <div class="masonry-item">
        <img
            src="https://cdn.afze-host3.com/user-gallery/0e7652e7-d3e2-11f0-983a-f23c94100626/1778585533-afzst-r2cf-depoimento-26.webp" />
    </div>
</div>







