    <!-- DEPOIMENTOS E PROFESSORES -->

<!--SEÇÃO DOS PROFESSORES - PRÉVIA DE AULAS -->
<div class="slider-container">
    <button class="seta-slider seta-esquerda" id="prev-btn"></button>
    
    <div class="slider-wrapper-manual">
        <div class="slider-trilho-manual" id="trilho-slider">
        
            <!-- COLUNA 1 -->
            <div class="coluna-videos">
                <div class="card-short">
                    <video controls>
                        <source src="https://jlbgigwrwbhayhufgkdq.supabase.co/storage/v1/object/public/videos/depoimentos/01-aluno-formado-curso-sequencial-presencial-instituto-oliver-escola-preparatoria-online-carreiras-policiais-site-oficial.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="card-short">
                    <video controls>
                        <source src="https://jlbgigwrwbhayhufgkdq.supabase.co/storage/v1/object/public/videos/depoimentos/02-aluno-formado-curso-sequencial-presencial-instituto-oliver-escola-preparatoria-online-carreiras-policiais-site-oficial.mp4" type="video/mp4">
                    </video>
                </div>
            </div>

            <!-- COLUNA 2 -->
            <div class="coluna-videos">
                <div class="card-short">
                    <video controls>
                        <source src="https://jlbgigwrwbhayhufgkdq.supabase.co/storage/v1/object/public/videos/depoimentos/03-aluno-formado-curso-sequencial-presencial-instituto-oliver-escola-preparatoria-online-carreiras-policiais-site-oficial.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="card-short">
                    <video controls>
                        <source src="https://jlbgigwrwbhayhufgkdq.supabase.co/storage/v1/object/public/videos/depoimentos/04-aluno-formado-curso-sequencial-presencial-instituto-oliver-escola-preparatoria-online-carreiras-policiais-site-oficial.mp4" type="video/mp4">
                    </video>
                </div>
            </div>

            <!-- COLUNA 3 -->
            <div class="coluna-videos">
                <div class="card-short">
                    <video controls>
                        <source src="https://jlbgigwrwbhayhufgkdq.supabase.co/storage/v1/object/public/videos/depoimentos/05-aluno-formado-curso-sequencial-presencial-instituto-oliver-escola-preparatoria-online-carreiras-policiais-site-oficial.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="card-short">
                    <video controls>
                        <source src="https://jlbgigwrwbhayhufgkdq.supabase.co/storage/v1/object/public/videos/depoimentos/06-aluno-formado-curso-sequencial-presencial-instituto-oliver-escola-preparatoria-online-carreiras-policiais-site-oficial.mp4" type="video/mp4">
                    </video>
                </div>
            </div>

            <!-- COLUNA 4 -->
            <div class="coluna-videos">
                <div class="card-short">
                    <video controls>
                        <source src="https://jlbgigwrwbhayhufgkdq.supabase.co/storage/v1/object/public/videos/depoimentos/07-aluno-formado-curso-sequencial-presencial-instituto-oliver-escola-preparatoria-online-carreiras-policiais-site-oficial.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="card-short">
                    <video controls>
                        <source src="https://jlbgigwrwbhayhufgkdq.supabase.co/storage/v1/object/public/videos/depoimentos/08-aluno-formado-curso-sequencial-presencial-instituto-oliver-escola-preparatoria-online-carreiras-policiais-site-oficial.mp4" type="video/mp4">
                    </video>
                </div>
            </div>

            <!-- COLUNA 5 -->
            <div class="coluna-videos">
                <div class="card-short">
                    <video controls>
                        <source src="https://jlbgigwrwbhayhufgkdq.supabase.co/storage/v1/object/public/videos/depoimentos/09-aluno-formado-curso-sequencial-presencial-instituto-oliver-escola-preparatoria-online-carreiras-policiais-site-oficial.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="card-short">
                    <video controls>
                        <source src="https://jlbgigwrwbhayhufgkdq.supabase.co/storage/v1/object/public/videos/depoimentos/10-aluno-formado-curso-sequencial-presencial-instituto-oliver-escola-preparatoria-online-carreiras-policiais-site-oficial.mp4" type="video/mp4">
                    </video>
                </div>
            </div>

            <!-- COLUNA 6 -->
            <div class="coluna-videos">
                <div class="card-short">
                    <video controls>
                        <source src="https://jlbgigwrwbhayhufgkdq.supabase.co/storage/v1/object/public/videos/depoimentos/11-aluno-formado-curso-sequencial-presencial-instituto-oliver-escola-preparatoria-online-carreiras-policiais-site-oficial.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="card-short">
                    <video controls>
                        <source src="https://jlbgigwrwbhayhufgkdq.supabase.co/storage/v1/object/public/videos/depoimentos/12-aluno-formado-curso-sequencial-presencial-instituto-oliver-escola-preparatoria-online-carreiras-policiais-site-oficial.mp4" type="video/mp4">
                    </video>
                </div>
            </div>

            <!-- COLUNA 7 -->
            <div class="coluna-videos">
                <div class="card-short">
                    <video controls>
                        <source src="https://jlbgigwrwbhayhufgkdq.supabase.co/storage/v1/object/public/videos/depoimentos/13-aluno-formado-curso-sequencial-presencial-instituto-oliver-escola-preparatoria-online-carreiras-policiais-site-oficial.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="card-short">
                    <video controls>
                        <source src="https://jlbgigwrwbhayhufgkdq.supabase.co/storage/v1/object/public/videos/depoimentos/15-aluno-formado-curso-sequencial-presencial-instituto-oliver-escola-preparatoria-online-carreiras-policiais-site-oficial.mp4" type="video/mp4">
                    </video>
                </div>
            </div>

            <!-- COLUNA 8 
            <div class="coluna-videos">
                <div class="card-short">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
                <div class="card-short">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
            </div>

            <!-- COLUNA 9 
            <div class="coluna-videos">
                <div class="card-short">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
                <div class="card-short">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
            </div>

            <!-- COLUNA 10 
            <div class="coluna-videos">
                <div class="card-short">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
                <div class="card-short">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
            </div>


            <!-- COLUNA 11-
            <div class="coluna-videos">
                <div class="card-short">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
                <div class="card-short">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
            </div>


            <!-- COLUNA 12 
            <div class="coluna-videos">
                <div class="card-short">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
                <div class="card-short">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
            </div>

            <!-- COLUNA 13 
            <div class="coluna-videos">
                <div class="card-short">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
                <div class="card-short">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
            </div>

            <!-- COLUNA 14 
            <div class="coluna-videos">
                <div class="card-short">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
                <div class="card-short">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
            </div>-->


        </div>
    </div>

    <button class="seta-slider seta-direita" id="next-btn"></button>
</div>

