        <!-- PROFESSOR NATEUS OLIVER -->
        <section class="bio">
            <div class="bio-inner">
                <div class="bio-texto">
                    <h3>Quem é o Professor Mateus Óliver?</h3>
                    <p>Mateus Óliver, fundador do Instituto Óliver - Escola Preparatória, é um profissional apaixonado
                        em dar aulas, Bacharel em Direito e especialista em Segurança Pública e Privada.</p>
                    <br>
                    <p>Com mais de 8 anos de experiência como professor de Direito, Mateus decidiu, em 2018 entrar na
                        PMMG e em Dezembro de 2020 dar um passo ousado em direção a sua verdadeira missão.</p>
                    <br>
                    <p>Ele deu baixa em sua carreira como ex-soldado da Polícia Militar de Minas Gerais (PMMG) e
                        aprovado em dois concursos públicos para dedicar-se inteiramente à formação e orientação de seus
                        alunos.</p>
                    <br>
                    <p>Como pai de 2 filhos e CEO da instituição que leva seu nome, Mateus não é apenas um professor;
                        ele é um mentor incansável. Sua paixão inabalável pelo ensino e pela educação é sua missão:
                        transformar vidas e inspirar outros a alcançarem a carreira e o futuro dos sonhos.</p>
                </div>
                <div class="bio-foto-wrapper">
                    <picture>
                        <source media="(max-width: 768px)"
                            srcset="https://midias.institutooliver.online/imagens/celular/home/professor-mateus-oliver-instituto-oliver-escola-preparatoria-online-carreira-cursos-superiores-site-oficial.avif">
                        <img src="https://midias.institutooliver.online/imagens/celular/home/professor-mateus-oliver-instituto-oliver-escola-preparatoria-online-carreira-cursos-superiores-site-oficial.avif"
                            alt="Professor Mateus Óliver">
                    </picture>
                </div>
            </div>
        </section>