<header>
  <nav class="navbar">
    <div class="nav-logo">
      <a href="https://institutooliver.online">
        <img
          src="/assets/images/computador/home/logo-instituto-oliver-escola-preparatoria-online-carreiras-policiais-cursos-superior-site-oficial.avif"
          alt="Logo Instituto Oliver - Escola Preparatória" loading="eager" fetchpriority="high" width="500"
          height="190" />
      </a>
    </div>

    <!-- BUSCA DO TOPO -->
    <div class="busca-topo-container">
      <input type="text" id="campo-busca-topo" placeholder="🔎 Buscar curso..." autocomplete="off" />
      <div id="resultados-topo"></div>
    </div>

    <div class="menu-toggle" id="btn-menu">
      <span></span><span></span><span></span>
    </div>

    <!-- MENU LATERAL -->
    <div class="nav-links" id="nav-lista">

      <!-- BUSCA LATERAL -->
      <div class="busca-lateral-container">
        <input type="text" id="campo-busca-lateral" placeholder="🔎 Buscar curso..." autocomplete="off" />
        <div id="resultados-lateral"></div>
      </div>

      <a href="https://institutooliver.online/">Página Inicial</a>

      <!-- CATEGORIA: CURSOS SUPERIORES -->
      <div class="menu-item-cat">Cursos de Nível Superior ▾</div>
      <div class="submenu">
        <a href="/pages/cursos-superiores/gestao-de-seguranca-publica-e-privada/">Gestão de Segurança Pública e
          Privada</a>
        <a href="/pages/cursos-superiores/teologia/">Teologia</a>
      </div>
  </nav>
</header>