

<section class="sec sec11">
  <div class="caixa-imagem">
    <picture>
      <source media="(max-width: 768px)"
        srcset="/assets/img/celular/professor-matheus-oliver-instituto-oliver-escola-preparatoria-online-carreiras-policiais-cursos-superior-site-oficial.avif" />

      <img
        src="/assets/images/computador/home/professor-matheus-oliver-instituto-oliver-escola-preparatoria-online-carreiras-policiais-cursos-superior-site-oficial.avif"
        loading="eager" alt="Professor Matheus Oliver - Fundador do Instituto Oliver Escola Preparatória Online" />
    </picture>
  </div>
  <div class="caixa-texto texto-esqueda">
    <h2 class="titulo">Professor Mateus Óliver</h2>
    <h3 class="subtitulo">A mente por trás do Instituto Óliver.</h3>
    <p class="descricao">
      Mateus Óliver é professor, mentor e referência nacional em concursos
      e formação superior. Fundador do Instituto Óliver, Bacharel em
      Direito , Hipnoterapeuta e Especialista em Segurança Pública e
      Privada, já ajudou milhares de alunos a conquistarem aprovações,
      certificados e transformação de vida através do estudo com
      estratégia.<br />
      <br />
      Como pai de 2 filhos e CEO da instituição que leva seu nome, Mateus
      não é apenas um professor; ele é um mentor incansável. Sua vasta
      experiência é uma bússola que guia, e seu objetivo é fornecer a
      orientação certa para que todos os seus alunos alcancem seus
      objetivos profissionais.<br />
      <br />
      O segredo de todo o sucesso? Sua paixão inabalável pelo ensino e
      pela educação. Mateus acredita que a educação é mais do que uma
      profissão; é uma missão. E essa missão é transformar vidas e
      inspirar outros a alcançarem a carreira e o futuro dos sonhos.
    </p>
    <ul class="lista-check">
      <li>Mais de 10 anos de experiência com concursos públicos</li>
      <li>
        Mentor de alunos aprovados nas principais carreiras do Brasil
      </li>
      <li>
        Revolucionou a preparação de alunos que precisam de velocidade e
        resultado
      </li>
    </ul>
  </div>
</section>