
     <!-- PROFESSOR MATEUS ÓLIVER -->
        <section id="mateus-oliver">
            <div class="professor-caixa-imagem">
                <picture>
                    <source media="(min-width: 768px)"
                        srcset="">
                    <img src="https://midias.institutooliver.online/imagens/celular/home/professor-mateus-oliver-instituto-oliver-escola-preparatoria-online-carreira-cursos-superiores-site-oficial.avif"
                        alt="Professor Mateus Óliver">
                </picture>
            </div>
            <div class="mateus-caixa-texto">
                <h2 class="titulo">Professor Mateus Óliver</h2>
                <h3 class="subtitulo">A mente por trás do Instituto Óliver.</h3>
                <p class="descricao">Mateus Óliver é professor, mentor e referência nacional em concursos e formação
                    superior. Fundador do
                    Instituto Óliver, Pós Graduado em Direito Constitucional, Direito Administrativo, Direito Penal,
                    Direito Processual Penal e Neuropsicologia; Graduado em Direito; Superior em Gestão de Segurança
                    Pública e Privada e Teologia; Graduando em Educação Física e Filosofia; Hipnoterapeuta.<br>
                    <br> Já ajudou
                    milhares de alunos a conquistarem aprovações, certificados e transformação de vida através do estudo
                    com estratégia.<br>
                    <br> Como pai de 2 filhos e CEO da instituição que leva seu nome, Mateus não é apenas um
                    professor; ele é um mentor incansável. Sua vasta experiência é uma bússola que guia, e seu objetivo
                    é fornecer a orientação certa para que todos os seus alunos alcancem seus objetivos profissionais.<br>
                    <br> O
                    segredo de todo o sucesso? Sua paixão inabalável pelo ensino e pela educação. Mateus acredita que a
                    educação é mais do que uma profissão; é uma missão. E essa missão é transformar vidas e inspirar
                    outros a alcançarem a carreira e o futuro dos sonhos.</p>
            </div>
        </section>

        <!-- RODAPÉ DO SITE -->
<footer id="sec10-meu-rodape">
    <div class="caixa-rodape">
        <!-- Agora a logo é um link que volta para a Home do site -->
        <a href="https://institutooliver.online/" class="link-logo-rodape">
            <img src="https://midias.institutooliver.online/imagens/logotipo/logo-instituto-oliver-escola-preparatoria-online-carreira-cursos-superiores-site-oficial.avif"
                width="150" height="50" alt="Instituto Óliver Logo">
        </a>

        <div class="caixa-texto-rodape">
            <p class="descricao-rodape">2026 © Instituto Óliver - Todos os direitos reservados.</p>
        </div>
    </div>
</footer>
