

.esteira-wrapper {
  width: 100%;
  overflow: hidden;
  padding: 40px 0;
  background: #000;
}

.esteira-trilho {
  display: flex;
  width: max-content;
  animation: rolar-suave 30s linear infinite;
}

.pausada-total {
  animation-play-state: paused !important;
}

.esteira-trilho:hover {
  animation-play-state: paused;
}

.card-short {
  width: 250px;
  height: 440px;
  margin-right: 20px;
  flex-shrink: 0;
  background: #111;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #333;
}

.card-short video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes rolar-suave {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}


    /* ESTRUTURA DA SEÇÃO  MURAL ÓLIVER*/
    .mural-oliver {
        padding: 40px 5%;
        background: #000;
        color: #fff;
    }

    .container-texto-mural {
        text-align: center;
        margin-bottom: 30px;
    }

    .container-texto-mural h2 { color: #ffce08; font-weight: bold; margin-bottom: 5px; }
    .container-texto-mural h3 { color: #ccc; font-size: 1.2rem; }

    /* GRID ESTILO MASONRY */
    .masonry-grid {
        column-gap: 15px;
        width: 100%;
        max-width: 2000px;
        margin: 0 auto;
        max-height: 1800px; /* Altura limite para o scroll interno */
        overflow-y: auto;
        padding-right: 10px;
        column-count: 4; /* 4 colunas no PC */
    }

    /* ESTILO DE CADA ITEM */
    .masonry-item {
        display: inline-block;
        width: 100%;
        margin-bottom: 15px;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid rgba(219, 175, 0, 0.3);
        background: #0a0a0a;
        break-inside: avoid;
        position: relative;
    }

    .masonry-item img {
        width: 100%;
        height: auto;
        display: block;
        transition: transform 0.5s ease;
    }

    /* EFEITO DE BRILHO AO PASSAR O MOUSE */
    .masonry-item::after {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100%;
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,206,8,0.3) 50%, rgba(255,255,255,0) 100%);
        transform: skewX(-25deg);
        transition: none;
    }

    .masonry-item:hover::after {
        animation: brilhoAnim 0.8s forwards;
    }

    .masonry-item:hover img {
        transform: scale(1.08);
    }

    @keyframes brilhoAnim {
        0% { left: -100%; }
        100% { left: 150%; }
    }

    /* BARRA DE ROLAGEM DOURADA */
    .masonry-grid::-webkit-scrollbar { width: 6px; }
    .masonry-grid::-webkit-scrollbar-thumb {
        background: #ffce08;
        border-radius: 10px;
    }

    /* RESPONSIVIDADE */
    @media (max-width: 1024px) { .masonry-grid { column-count: 3; } }
    @media (max-width: 768px) { .masonry-grid { column-count: 2; } }

