/* Configura a seção como a base para o posicionamento */
section {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Controla a caixa que segura todo o bloco da foto */
.caixa-imagem,
.caixa-imagem picture {
  display: block;
  width: 100%;
  height: auto;
}

/* Controla a imagem real que aparece na tela (computador ou celular) */
.caixa-imagem img {
  width: 100%;
  height: auto;
  display: block;
}

/* Faz o texto flutuar em cima da imagem */
.caixa-texto {
  position: absolute;
  padding: 0 20px;
  /* Cria uma barreira de 20px nas laterais para o texto não encostar */
  z-index: 2;
  /* Garante que o texto fique por cima de tudo */
  text-align: left;
  /* Centraliza as linhas de texto */
  top: 25%;
  max-inline-size: 45%;
  /* Limita o tamanho em 50% */
}

#inicio .caixa-texto {
  max-inline-size: 40%;
  /* Limita o tamanho em 50% */
}

#cursos-superiores .caixa-texto {
  margin-left: 50%;
  /* Empurra o início do bloco para o meio da tela */
  top: 10%;
}

#curso-gestao-de-seguranca-publica-e-privada .caixa-texto {
  top: 15%;
  max-inline-size: 50%;
  /* Limita o tamanho em 50% */
}

#curso-eja-ensino-de-jovens-e-adultos .caixa-texto {
  margin-left: 55%;
  /* Empurra o início do bloco para o meio da tela */
  top: 5%;
  max-inline-size: 50%;/* Limita o tamanho em 50% */
}

#carreiras-policiais .caixa-texto {
  top: 5%;
  max-inline-size: 50%;/* Limita o tamanho em 50% */
}

#bombeiro-militar .caixa-texto {
    margin-left: 55%;
  /* Empurra o início do bloco para o meio da tela */
  top: 15%;
}

#guarda-municipal .caixa-texto {
  max-inline-size: 50%;/* Limita o tamanho em 50% */
  top: 8%;
}

#outros-cursos .caixa-texto {
    margin-left: 50%;
  /* Empurra o início do bloco para o meio da tela */
  top: 8%;
}