/* Configura a seção como a base para o posicionamento */
section {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Controla a caixa que segura todo o bloco da foto */
.caixa-imagem, .caixa-imagem picture {
  display: block;
  width: 100%;
  height: auto;
}

/* Controla a imagem real que aparece na tela (computador ou celular) */
.caixa-imagem img {
  width: 100%;
  height: auto;
  display: block;
}

/* Faz o texto flutuar em cima da imagem */
.caixa-texto {
  position: absolute;
  padding: 0 20px;   /* Cria uma barreira de 20px nas laterais para o texto não encostar */
  z-index: 2; /* Garante que o texto fique por cima de tudo */
  text-align: center; /* Centraliza as linhas de texto */
  top: 50%;
}


  
/* 1 - Deixe o F12 em: 336px */
@media (min-width: 320px) and (max-width: 352px) {}

/* 2 - Deixe o F12 em: 368px */
@media (min-width: 353px) and (max-width: 384px) {}

/* 3 - Deixe o F12 em: 400px */
@media (min-width: 385px) and (max-width: 416px) {}

/* 4 - Deixe o F12 em: 432px */
@media (min-width: 417px) and (max-width: 448px) {}

/* 5 - Deixe o F12 em: 464px */
@media (min-width: 449px) and (max-width: 480px) {}

/* 6 - Deixe o F12 em: 496px */
@media (min-width: 481px) and (max-width: 512px) {}

/* 7 - Deixe o F12 em: 528px */
@media (min-width: 513px) and (max-width: 544px) {}

/* 8 - Deixe o F12 em: 560px */
@media (min-width: 545px) and (max-width: 576px) {}

/* 9 - Deixe o F12 em: 592px */
@media (min-width: 577px) and (max-width: 608px) {}

/* 10 - Deixe o F12 em: 624px */
@media (min-width: 609px) and (max-width: 640px) {}

/* 11 - Deixe o F12 em: 656px */
@media (min-width: 641px) and (max-width: 672px) {}

/* 12 - Deixe o F12 em: 688px */
@media (min-width: 673px) and (max-width: 704px) {}

/* 13 - Deixe o F12 em: 720px */
@media (min-width: 705px) and (max-width: 736px) {}

/* 14 - Deixe o F12 em: 752px */
@media (min-width: 737px) and (max-width: 768px) {}

/* 15 - Telas abaixo de 320px - Deixe o F12 em: 280px */
@media (max-width: 319px) {}
